/* styles for whole page */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* styles for body */
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2px;
  line-height: 125%;
}


/* styles for elements */

/* styles for header */
.page-header {
  background-image: url(images/wallpaper-dark.jpg);
  min-height: 200px;
  display: flex;
}

.page-title {
  width: 80%;
  display: flex;
  align-items: center;
}

.header-image {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-top {
  height: 180px;
}

.page-title h1 {
 font-size: 4rem;
 text-align: start;
 color: lightgray;
}

/* styles for main content */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1500px;
  height: auto;
  margin-top: 3%;
}

.section-content {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0 5% 2% 5%;
}

.content-box-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-box {
  display: flex;
}

.text-box {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 1% 0 2%;
}

.big-text-box {
  display: flex;
  flex-direction: column;
  margin: 0 2%;
}

.text-box p,
.big-text-box p {
  padding: 1% 0;
}

.image-box {
  display: flex;
  align-items: center;
  padding: 1% 2% 1% 1%;
  cursor: pointer;
}

.image-box:active img {
  z-index: 2;
  transform: scale(2.25);
  margin-right: 150px;
}

.square-img {
	max-width: 320px;
	border-radius: 10px;
	border: 2px solid darkgrey;	
  box-shadow: 0 8px 16px 0 lightgray, 0 6px 20px 0 grey;
}

/* styles for footer */
.footer-text {
  min-height: 100px;
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  text-align: center;
  background-image: url(images/wallpaper-dark.jpg);
}

footer p,
footer a {
  color: lightgray;
  font-size: 0.75rem;
  text-decoration: none;
}

footer a:hover {
  color: lightgray;
  font-size: 0.9rem;
	color: #2b72fb;
}