/* styles for whole page */ 
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bar-width: 40px;
  --bar-height: 6px;
  --hamburger-gap: 4px;
  --foreground: lightgrey;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

/* styles for body */
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.2%;
  line-height: 125%;
  min-height: 100vh;
}

/* styles for elements */

h2 {
  margin: 1%;
}

/* styles for header */
.page-header {
  background-image: url(images/wallpaper-dark.jpg);
  height: 200px;
  width: 100%;
  display: flex;
}

.page-title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-image {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-top {
  height: 90%;
}

.page-title h1 {
 font-size: 400%;
 text-align: end;
 color: lightgray;
}

/* styles for main content */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
	background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-width: 1920px;
  height: auto;
  border: 2px solid black;
  border-radius: 2%;
  margin: 2%;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 95%;
  margin: 2%;
	background-color: rgb(200, 200, 200);
}

/* styles for main content - content boxes */
.box-heading {
  text-align: center;
  border-top: 1px dotted black;
  width: 100%;
}

.image-box {
  border-top: 1px dotted black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 1%;
}

.game-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	padding: 0.5%;
	margin: 2%;
	width: 13%;
	height: auto;
}

.game-box-wide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	padding: 0.5%;
	margin: 2%;
	width: auto;
	height: 13%;
}

.game-box:hover,
.game-box-wide:hover {
	transform: scale(1.25);
}

.box-cover {
	height: auto;
	width: 100%;
	border: solid 1px black;
	border-radius: 3%;
}

.game-box p {
  font-size: 0.75rem;
  text-align: center;
}

.game-box a {
  text-decoration: none;
  color: black;
}

/* styles for footer */
.footer-text {
  min-height: 100px;
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  text-align: center;
  background-image: url(images/wallpaper-dark.jpg);
}

footer p,
footer a {
  color: lightgray;
  font-size: 0.75rem;
  text-decoration: none;
  max-width: 80ch;
  margin-bottom: 1%;
}

footer a:hover {
  color: lightgray;
  font-size: 0.9rem;
	color: #2b72fb;
}

/* styles for hamburger menu */
.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: min-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
  background-color: lightgray;
  padding: 15px 10px;
  border-radius: 50%;
}

.hamburger-menu:has(input:checked) {
  --foreground: rgb(50,50,50);
  background-color: transparent;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: rgb(50,50,50);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}


.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

/* styles for pop-out menu within the hamburger menu */
.parent {
	display: flex;
  flex-direction: column;
	position: relative;
	float: left;
	line-height: 1.875rem;
	background-color: var(--foreground);
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: -110%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  min-width: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
}

.parent a {
	margin: 0.625rem;
	color: rgb(50, 50, 50);
	text-decoration: none;
}

.parent:hover>ul {
	display: flex;
  flex-direction: column;
	position: relative;
}

.child {
	display: none;
}

.child li {
	background-color: var(--foreground);
	line-height: 1.875rem;
	width: 100%;
}

.child li a {
	color: rgb(50, 50, 50);
}

ul {
	list-style: none;
	margin: 0;
	min-width: 10em;
  padding: 0 0 0 1rem;
}

li:hover {
	background-color: var(--foreground);
}

.child li a:hover {
	color: blue;
}

.direct-link:hover {
  color: blue;
}

.expand {
	font-size: 0.75rem;
	float: right;
	margin-right: 0.313rem;
}


/* responsive */
@media screen and (max-width: 1185px) {
  .page-header {
    height: 150px;
  }

  .page-title h1 {
    font-size: 300%;
   }
}

@media screen and (max-width: 825px) {
  .page-header {
    height: 120px;
  }

  .page-title h1 {
    font-size: 200%;
   }
}

@media screen and (max-width: 420px) {
  .page-header {
    height: 100px;
    min-width: auto;
  }

  .page-title h1 {
    font-size: 100%;
   }
}