/* styles for whole page */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* styles for body */
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2px;
  line-height: 125%;
}

/* styles for elements */
h2 {
	font-size: 2.25rem;
	margin-bottom: 2.5%;
}

h3 {
  font-size: 1.5rem;
	margin: 1.5% 0 0.5% 0;
}

h4 {
  font-size: 1.375rem;
	margin-bottom: 0.5%;
}

p {
	margin-bottom: 0.313rem;
}

/* styles for header */
.page-header {
  background-image: url(images/wallpaper-dark.jpg);
  height: 200px;
  display: flex;
  background-color: rgb(235,235,210);
  border-bottom: 2px solid rgb(50, 50, 50);
}

.page-title {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  margin-right: 2%;
}

.header-image {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-top {
  height: 180px;
}

.page-title h1 {
  font-size: 4rem;
  text-align: end;
  color: rgb(50, 50, 50);
}

/* styles for main content */
.content {
	display: flex;
	flex-direction: column;
  margin: 0 auto;
  width: 80%;
  padding-top: 3%;
	flex-wrap: wrap;
}

.response-box {
  align-self: center;
  width: 90%;
}

.content-box {
  display: flex;
}

.text-box {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.content img {
	max-width: 25%;
	margin-right: 1%;
	margin-left: auto;
	padding-left: 2%;
}

.image-box img {
	max-width: 250px;
	margin-right: 1%;
	margin-left: auto;
	padding-left: 2%;
	margin-top: -30px;
}

.list-box {
	margin-right: 5%;
	margin-left: auto;
	margin-top: -30px;
}

.button-box {
	display: flex;
}

.response {
	border: 1px solid black;
	padding: 20px;
	border-radius: 15px;
}

/* styles for footer */
.footer-box {
  min-height: 150px;
	display: flex;
	justify-content: space-around;
	align-items: center;
  background-image: url(images/wallpaper-dark.jpg);
  border-top: 2px solid rgb(50, 50, 50);
  background-color: rgb(235,235,210);

}

.footer-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
}

.footer-image {
  max-width: 400px;
}

.footer-text p,
.footer-text a {
  color: rgb(50, 50, 50);
  font-size: 0.75rem;
  text-decoration: none;
  max-width: 80ch;
  margin-bottom: 1%;
}

footer a:hover {
  color: lightgray;
  font-size: 0.9rem;
	color: #2b72fb;
}

/* styles for hamburger menu */
:root {
  --bar-width: 40px;
  --bar-height: 6px;
  --hamburger-gap: 4px;
  --foreground: rgb(50, 50, 50);
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: min-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: lightgrey;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

/* styles for pop-out menu within the hamburger menu */
.parent {
	display: flex;
  flex-direction: column;
	position: relative;
	float: left;
	line-height: 1.875rem;
	background-color: rgb(50, 50, 50);
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: -110%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  min-width: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
}

.parent a {
	margin: 0.625rem;
	color: lightgrey;
	text-decoration: none;
}

.parent:hover>ul {
	display: flex;
  flex-direction: column;
	position: relative;
}

.child {
	display: none;
}

.child li {
	background-color: rgb(50, 50, 50);
	line-height: 1.875rem;
	width: 100%;
}

.child li a {
	color: lightgrey;
}

ul {
	list-style: none;
	margin: 0;
	min-width: 10em;
  padding: 0 0 0 1rem;
}

li:hover {
	background-color: rgb(50, 50, 50);
}

.child li a:hover {
	color: blue;
}

.direct-link:hover {
  color: blue;
}

.expand {
	font-size: 0.75rem;
	float: right;
	margin-right: 0.313rem;
}

/* styles for buttons */
button {
	width: 120px;
	height: 50px;
	background-color: rgb(195, 185, 170);
	font-weight: 600;
	font-size: 16px;
	border: 2px solid rgb(50, 50, 50);
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 lightgray, 0 6px 20px 0 grey;
	cursor: pointer;
	margin-right: 10px;
	padding: 4px;
	color: rgb(50, 50, 50);
}

button:hover {
	color: black;
	background-color: rgb(170,160,150);
	border: 2px solid black;
	transform: scale(1.1);
}

.hide {
  display: none;
}

.show {
  display: block;
	margin-bottom: 50px;
}

.finished {
	pointer-events: none;
}

.clicked  {
	background-color: rgb(150, 150, 150);
	color: darkgray;
}