* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	width: auto;
	background-color: rgb(235,235,210);
	border: solid 1px darkgoldenrod;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(235,235,210);
	height: 150px;
	width: auto;
	border: 1px solid darkgoldenrod;
}

main {
	display: flex;
}

nav {
	background-color: rgb(235, 235, 210);
	width: 15%;
	display: flex;
	flex-direction: column;
	padding-top: 5%;
	padding-bottom: 5%;
	border-left: solid 1px darkgoldenrod;
	border-right: solid 1px darkgoldenrod;
	padding: 3% 0.75%;
}

article {
	display: flex;
	flex-direction: column;
	padding: 3%;
	width: 80%;
}

button {
	width: 120px;
	height: 50px;
	background-color: rgb(195, 185, 170);
	font-weight: 600;
	font-size: 16px;
	border: 2px solid rgb(50, 50, 50);
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 lightgray, 0 6px 20px 0 grey;
	cursor: pointer;
	margin-right: 10px;
	padding: 4px;
	color: rgb(50, 50, 50);
}

button:hover {
	color: black;
	background-color: rgb(170,160,150);
	border: 2px solid black;
	transform: scale(1.05);
}

h1 {
	font-size: 36px;
	margin-bottom: 1.5%;
}

h3 {
  font-size: 24px;
	margin: 1.5% 0 0.5% 0;
}

h4 {
  font-size: 20px;
	margin-bottom: 0.5%;
}

p {
	margin-bottom: 5px;
}

.banner	{
	height: 90%;
}

.content-box {
	display: flex;
}

.text-box {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.list-box {
	margin-right: 2%;
	margin-left: auto;
}

.button-box {
	display: flex;
}

.image-box img {
	width: 300px;
	margin-left: 40px;
	margin-top: -30px;
}

.response {
	border: 1px solid black;
	padding: 20px;
	border-radius: 15px;
}

.sidebar-heading {
	margin-left: 6px;
}

.sidebar-option {
	font-size: 14px;
	margin: 10px 0 0 6px;
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
	font-size: 15px;
}

.hide {
  display: none;
}

.show {
  display: block;
	margin-bottom: 50px;
}

.finished {
	pointer-events: none;
}

.clicked  {
	background-color: rgb(150, 150, 150);
	color: darkgray;
}