* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	width: auto;
	background-color: rgb(225,150,20);
	border: solid 1px brown;
}

menu {
	display: flex;
	flex-direction: column;
}

menu button {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 100px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(235,235,210);
	height: 150px;
	width: auto;
	border: 1px solid darkgoldenrod;
}

article {
	display: flex;
}

button {
	width: 120px;
	height: 50px;
	background-color: rgb(195, 185, 170);
	font-weight: 600;
	border: 2px solid b;
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 lightgray, 0 6px 20px 0 grey;
	cursor: pointer;
}

h1 {
	font-size: 36px;
	margin-bottom: 30px;
}

h3 {
  font-size: 24px;
	margin: 30px 0 10px 0;
}

h4 {
  font-size: 20px;
}

p {
	margin-bottom: 5px;
}

.banner	{
	height: 90%;
}

.container {
	display: flex;
	flex-direction: column;
	padding: 5%;
	width: 85%;
}

.content-box {
	display: flex;
}

.box-1,
.box-2 {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.box-1 {
	padding: 20px 50px 0 0;
}

.box-2 {
	padding: 20px 0 0 50px;
}

.box-2 div {
  padding-bottom: 6px;
}

.sidebar {
	background-color: rgb(235, 235, 210);
	width: 15%;
	display: flex;
	flex-direction: column;
	padding-top: 5%;
	padding-bottom: 5%;
	border-left: solid 1px darkgoldenrod;
	border-right: solid 1px darkgoldenrod;
}

.sidebar-heading {
	margin-left: 6px;
}

.sidebar-option {
	font-size: 14px;
	margin: 10px 0 0 6px;
	text-decoration: none;
}

.hide {
  display: none;
}

.show {
  display: block;
	margin-bottom: 50px;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 30px 5px 0 5px; 
}

.finished {
	pointer-events: none;
}

.clicked  {
	background-color: rgb(150, 150, 150);
	color: darkgray;
}

.faction-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
}

.faction {
	width: 120px;
	margin-bottom: 8px;
}