<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="template2.css">
  <title>Template Two</title>
</head>

<body>
  <header>
    <section class="page-header">
      <figure class="header-image">
      </figure>
      <div class="page-title">
        <h1></h1>
      </div>
    </section>  
  </header>  

  <main>
    <article class="content">
      <section class="section-content">
        <div class="section-heading">
          <h2>HEADING</h2>
        </div>
        <div class="content-box">
          <div class="text-box">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, reprehenderit cum. Beatae sed, dolore possimus eum nesciunt inventore saepe omnis minima soluta totam? Doloremque soluta saepe illo provident ab optio.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, cumque! Atque molestias culpa qui consectetur facere possimus recusandae a provident? Voluptate culpa consequuntur illum eum rem distinctio aperiam vitae dolor!</p>
          </div>
          <div class="image-box"></div>
        </div>
      </section>

      <section class="section-content">
        <div class="section-heading">
          <h2>HEADING</h2>
        </div>
        <div class="big-text-box">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, reprehenderit cum. Beatae sed, dolore possimus eum nesciunt inventore saepe omnis minima soluta totam? Doloremque soluta saepe illo provident ab optio.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, cumque! Atque molestias culpa qui consectetur facere possimus recusandae a provident? Voluptate culpa consequuntur illum eum rem distinctio aperiam vitae dolor!</p>
        </div>
      </section>
    </article>
  </main>

  <footer>
    <section class="page-footer">
      <figure class="footer-image"></figure>
    </section>
  </footer>

  <script src="template.js"></script>
</body>
</html>