<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="template1.css">
  <title>Template One</title>
</head>
<body>
  <header>
    <section class="page-header">
      <nav class="menu"></nav>
      <div class="page-title">
        <h1 ></h1>
      </div>
      <figure class="header-image"></figure>
    </section>  
  </header>

  <main>
    <article class="content">
      <section class="content-box" id="Section1">
        <div class="box-heading">
          <h2 class="page-heading"></h2>
        </div>
        <div class="image-box">
          <div class="game-box" id="box-cover101"></div>
          <div class="game-box" id="box-cover102"></div>
          <div class="game-box" id="box-cover103"></div>
          <div class="game-box" id="box-cover104"></div>
          <div class="game-box" id="box-cover105"></div>
        </div>
      </section>

      <section class="content-box" id="Section2">
        <div class="box-heading">
          <h2></h2>
        </div>
        <div class="image-box">
          <div class="game-box" id="box-cover201"></div>
          <div class="game-box" id="box-cover202"></div>
          <div class="game-box" id="box-cover203"></div>
          <div class="game-box" id="box-cover204"></div>
          <div class="game-box" id="box-cover205"></div>
        </div>
      </section>

      <section class="content-box" id="Section3">
        <div class="box-heading">
          <h2></h2>
        </div>
        <div class="image-box">
          <div class="game-box" id="box-cover301"></div>
          <div class="game-box" id="box-cover302"></div>
          <div class="game-box" id="box-cover303"></div>
          <div class="game-box" id="box-cover304"></div>
          <div class="game-box" id="box-cover305"></div>
        </div>
      </section>
    </article>
  </main>

  <footer>
    <section class="page-footer">
      <figure class="footer-image"></figure>
    </section>
  </footer>

  <script src="template1.js"></script>
</body>
</html>