* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: center;
	background-color: rgb(195, 185, 170);
	padding: 0px 0;
	border: 1px solid rgb(120, 100, 50);
}

main {
	display: flex;
}

.container {
	display: flex;
	flex-direction: column;
	padding: 2%;
	width: 85%;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	margin-left: 12%;
	margin-right: 12%;
	margin-bottom: 2%;
}
.content-box {
	display: flex;
}

.intro-box {
	display: flex;
	flex-direction: column;
	margin-bottom: 3%;
}

.text-box {
	width: 60%;
}

.content-box img {
	margin-right: 3%;
	margin-left: auto;
	margin-top: 3%;
	float: right;
	width: 30%;
	border-radius: 10px;
}

.button-box {
	display: flex;
	justify-content: space-between;
	padding: 3% 0.5% 0 0.5%;
}

.button-box-small {
	display: flex;
	justify-content: start;
}

.box-1,
.box-2 {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.box-1 {
	padding: 20px 50px 0 0;
}

.box-2 {
	padding: 20px 0 0 50px;
}

.sidebar {
	background-color: rgb(195, 185, 170);
	border-left: 1px solid rgb(120, 100, 50);
	border-right: 1px solid rgb(120, 100, 50);
	width: 15%;
	display: flex;
	flex-direction: column;
	padding-top: 3%;
	padding-bottom: 3%;
}

.sidebar-heading {
	margin-left: 6px;
}

.sidebar-option {
	font-size: 14px;
	margin: 10px 0 0 6px;
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
	font-size: 15px;
}

.hide {
  display: none;
}

.show {
  display: block;
	margin-bottom: 50px;
}

footer {
	display: flex;
	justify-content: center;
	background-color: black;
	padding: 10px;
}

button {
	width: 120px;
	height: 50px;
	background-color: rgb(195, 185, 170);
	font-weight: 600;
	font-size: 16px;
	border: 2px solid b;
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 lightgray, 0 6px 20px 0 grey;
	cursor: pointer;
	padding: 4px;
	margin-right: 4px;
}

button:hover {
	color: black;
	background-color: rgb(170,160,150);
	border: 2px solid black;
	transform: scale(1.05);
}

h1 {
	font-size: 36px;
	margin-bottom: 2%;
	margin-top: 1%;
}

h3 {
	margin: 2% 0 1% 0;
}

p {
	margin-bottom: 5px;
}

#fln-mark {
	width: 40px;
	height: 40px;
}

.js-button {
	margin: 0 5px 20px 0;
}

 img {
	margin-bottom: 20px;
	width: 80%;
}

.result {
	display: flex;
	flex-direction: column;
	min-width: 30%;
	margin-right: 5%;
}

.results-box {
	display: flex;
}

.finished {
	pointer-events: none;
}

.clicked  {
	background-color: rgb(150, 150, 150);
	color: darkgray;
}

.response {
	border: 1px solid black;
	padding: 20px;
	border-radius: 15px;
}